//element-ui

// 输入框
.el-input {
  .el-input__icon {
    @include fontColor('color-text');
  }

  .el-input__inner {
    background: none;
    @include fontColor('color-text');
    @include border('border-base');

    &::placeholder {
      @include fontColor('color-placeholder');
    }

    &:focus {
      @include borderColor('color-primary');
    }
  }
}

// 按钮
.el-button {
  border: none;

  &.el-button--primary {
    @include backgroundColor('color-primary-light');

    &:hover {
      @include backgroundColor('color-primary');
    }
  }
}

// 单选框组
.el-radio-group {
  .el-radio {
    .el-radio__input {
      .el-radio__inner {
        background: none;
        @include border("border-base");

        &::after {
          background: none;
        }
      }

      &.is-checked {
        .el-radio__inner {
          @include borderColor('color-primary');

          &::after {
            background: none;
            top: calc(50% - 10px);
            left: calc(50% - 4px);
            font-size: 20px;
            content: '✓';
            @include fontColor('color-primary')
          }
        }
      }
    }

    .el-radio__label {
      @include fontColor('color-text');
    }

    &.is-checked {
      .el-radio__label {
        @include fontColor('color-primary');
      }
    }
  }
}

// 多选框组
.el-checkbox-group {
  .el-checkbox {
    .el-checkbox__input {
      .el-checkbox__inner {
        background: none;
        @include border("border-base");

        &::after {
          border: none;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          @include borderColor('color-primary');

          &::after {
            border: none;
            top: calc(50% - 10px);
            left: calc(50% - 6px);
            content: '✓';
            font-size: 20px;
            transform: none;
            @include fontColor('color-primary')
          }
        }
      }
    }

    .el-checkbox__label {
      @include fontColor('color-text');
    }

    &.is-checked {
      .el-checkbox__label {
        @include fontColor('color-primary');
      }
    }
  }
}

// 弹出
.el-popper {
  &.el-picker-panel {
    @include fontColor('color-text');
    @include backgroundColor('color-card-background');
    @include borderColor('border-color');

    .el-picker-panel__body-wrapper {
      .el-picker-panel__body {
        .el-date-picker__header {
          .el-picker-panel__icon-btn {
            @include fontColor('color-text');

            &:hover {
              @include fontColor('color-primary');
            }
          }

          .el-date-picker__header-label {
            @include fontColor('color-text');

            &:hover {
              @include fontColor('color-primary');
            }
          }
        }

        .el-picker-panel__content {
          .el-date-table {
            th {
              @include borderColor('border-color');
            }

            td {
              &:hover {
                span {
                  @include fontColor('color-primary')
                }
              }

              &.current:not(.disabled) {
                span {
                  @include backgroundColor('color-primary')
                }

                &:hover {
                  span {
                    color: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  &.el-popper {
    @include backgroundColor('color-card-background');
    @include border('border-base');
  }

  .popper__arrow {
    @include themeify {
      border-bottom-color: themed('border-color');
    }

    &::after {
      @include themeify {
        border-bottom-color: themed('color-card-background');
      }
    }
  }
}

// 弹框
.el-dialog {
  @include backgroundColor('color-page-background');

  .el-dialog__header {
    .el-dialog__title {
      @include fontColor('color-text');
    }

    .el-dialog__headerbtn {
      .el-dialog__close {
        @include fontColor('color-text');

        &:hover {
          @include fontColor('color-primary')
        }
      }
    }
  }
}

// 开关
.el-switch {
  .el-switch__core {
    @include border('border-base');
    @include backgroundColor('color-card-background')
  }

  .el-switch__label {
    margin-left: 4px;
    font-weight: normal;
    @include fontColor('color-text');

    &.is-active {
      @include fontColor('color-primary');
    }
  }

  &.is-checked {
    .el-switch__core {
      @include backgroundColor('color-primary')
    }
  }
}

//message消息信息
.el-message-box__wrapper {
  .el-message-box {
    @include backgroundColor('color-card-background');
    @include border('border-base');

    .el-message-box__header {
      .el-message-box__title {
        @include fontColor('color-title')
      }

      .el-message-box__headerbtn {
        .el-message-box__close {
          @include fontColor('color-text')
        }
      }
    }

    .el-message-box__content {
      .el-message-box__container {
        .el-message-box__message {
          @include fontColor('color-text')
        }
      }
    }
  }
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}
